<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="https://kit.fontawesome.com/f83f29da56.js" crossorigin="anonymous"></script>
        
        <title>Travel App</title>
    
    </head>

    <body>

        <header>
            <div class="">
                <h1>Travel APP</h1>
                
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <p>Enter your desired trip location & date</p>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="Enter your trip location">
                    <input  type="date" name="date"  placeholder="Enter your trip date">
                    <input type="submit" id="submit" name="" value="submit">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="model"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
                <div id="subjectivity"></div>
                <div id="score_tag"></div>
                <div id="agreement"></div>
            </section>
        </main>

        <footer>
            <li><a href="#"><i class="fab fa-linkedin fa-lg"></i></a></li>
            <li><a href="#"><i class="fab fa-github fa-lg"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook fa-lg"></i></a></li>
        </footer>
    <script>
           // Check that service workers are supported
          
           /*  if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
            */
           </script> 
    </body>
</html>
