<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="https://kit.fontawesome.com/f83f29da56.js" crossorigin="anonymous"></script>
        
        <title>Travel App</title>
    
    </head>

    <body>

        <header>
            <div class="">
                <h1>Travel APP</h1>
                
            </div>
         
        </header>

        <main>
            
            <section>
                <p>Enter your desired trip location & date</p>
                <!--<img src="../src/client/images/bg1.jpg" alt="travel"/>-->
                <form class="" onsubmit="return handleSubmit(event)">
                    <div>Where To?</div>
                    <input id="trip" type="text" name="trip" value="" placeholder="Your destination..... ">
                    <div>
                    <div>Start Date</div>
                    <input  type="date" name="date" id="start-date" >
                    <div>End Date</div>
                    <input  type="date" name="date" id="end-date">
                </div>
                    <input type="submit" id="submit" name="" value="GO!">
                    
                </form>
            </section>

            <section>
                
                <div id="placeName"></div>
                <div id="date">
                
                <div id="stDate"></div>
               
                <div id="endDate"></div>
            </div>
            <div id='title'></div>
            <div id="forecast">
            </div>
                <img id="img" src="data:," alt/>
                <div id="print"><button id="save" hidden = "hidden">Print or Save</button></div>
            </section>
            
        </main>

        <footer>
            <li><a href="#"><i class="fab fa-linkedin fa-lg"></i></a></li>
            <li><a href="#"><i class="fab fa-github fa-lg"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook fa-lg"></i></a></li>
        </footer>
    
   
          <script> // Check that service workers are supported
        
          if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           
           </script> 
    </body>
</html>
